discord~=2.2.2
aiohttp~=3.8.4
asyncpg~=0.27.0
bs4~=0.0.1
beautifulsoup4~=4.12.0
googlemaps~=4.10.0
aiotba~=0.0.3.post2
# for now, aiotoa must be built and installed locally.
pendulum~=2.1.2
geopy~=2.3.0
timezonefinder~=6.1.10
uvloop~=0.17.0
